@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400&display=swap');

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
}

/* links at the top */
.pagenav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

/* to highlight the current page */
.current {
    color: #30a5a5;
}

.title {
    margin-left: 50px;
    margin-top: -30px;
}

.subheading {
    margin-left: 100px;
    margin-top: -15px;
}

/* Getting a bit meta now aren't we... */
.subsubheading { 
    margin-left: 60px;
    margin-top: -20px;
}
p, li {
    color: #4F6367;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    color: #297373;
}

a:hover {
    color: #B8D8D8;
}

h1 {
    color: #FE5F55;
    font-size: 60px;
}

h2 {
    color: #FE5F55;
    font-size: 40px;
}

body {
    background-color: #EEF5DB;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 400;
}