@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.center {
    text-align: center;
}

.iconbar {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: -6vh;
}

.icon {
    fill: salmon;
    transform: scale(0.45);
}

.icon:hover {
    fill: rgb(250, 170, 160);
}

#pfp {
    margin-top: 2.5vh;
    height: 350px;
    width: 350px;
    margin-bottom: -3vh;
}

body {
    background-color: rgb(30, 30, 30);
    font-family: 'Roboto Mono', monospace;
    color: rgb(250, 235, 205);
}

p {
    margin: auto;
    max-width: 500px;
    font-size: 18px;
}

a {
    color: salmon;
    text-decoration: none;
}

a:hover {
    color: rgb(250, 170, 160);
}