@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.center {
    text-align: center;
}

.pfpCrop {
    overflow: hidden;
    /* height: 25vmin;
    width: 25vmin; */
    height: 250px;
    width: 250px;
    border-radius: 50%;
    outline-style: solid;
    outline-offset: 3px;
    margin: auto;
    margin-top: 10vh
}

#pfp {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

body {
    background-color: rgb(30, 30, 30);

    font-family: 'Roboto Mono', monospace;
    color: rgb(250, 235, 205);
}

p {
    margin: auto;
    max-width: 500px;
    font-size: 18px;
}